<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3JDgEK_qM5UKFr1rff1wMFNF3S-ilLzA</string>
	<key>GCM_SENDER_ID</key>
	<string>995246260968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safeharbor.app</string>
	<key>PROJECT_ID</key>
	<string>safe-harbor-db2cd</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-harbor-db2cd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995246260968:ios:367be41d70874022413f5d</string>
</dict>
</plist>